.work-info {
    text-align: left;
    font-size: 18px;
}

.cont-h {
    display: flex;
    justify-content:space-between;
    font-size:14px;
}

.company {
    color: #37b24d;
    margin-bottom: 10px;
}

.worker {
    font-size: 14px;
    color: #adb5bd;
}
.work-detail .job-type {
    padding: 3px 20px;
    border: 1px solid #495057;
    border-radius: 20px;
    font-size: 12px;
    margin: 10px 10px 0 0;
}

.project-list {
    margin-top: 30px;
}
.project-name {
    display: inline-block;
    margin-bottom: 10px;
}
.project-detail {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}